In [1]:
import pyspark
import pandas as pd
import math
try: 
    type(sc)
except NameError:
    sc = pyspark.SparkContext('local[*]')    
    
type(sc)
import datetime
from pyspark.sql.functions import year, month, dayofmonth

In [2]:
 #sqlContext.read.csv('./datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv').option("header",True)
dataframe = sqlContext.read.format("csv")\
            .option("header", "true")\
            .option("inferSchema", "true")\
            .load('./datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')

In [5]:
fechaDF = dataframe.select(year(dataframe.fechanacimiento)).rdd.map(lambda x: (x,1))
fechaDF.reduceByKey(lambda x,y : x+y).collect()

[(Row(year(fechanacimiento)=1969), 1088),
 (Row(year(fechanacimiento)=1981), 4655),
 (Row(year(fechanacimiento)=1973), 1688),
 (Row(year(fechanacimiento)=1963), 554),
 (Row(year(fechanacimiento)=1967), 874),
 (Row(year(fechanacimiento)=1977), 2938),
 (Row(year(fechanacimiento)=1959), 284),
 (Row(year(fechanacimiento)=1971), 1451),
 (Row(year(fechanacimiento)=1979), 3879),
 (Row(year(fechanacimiento)=1987), 8283),
 (Row(year(fechanacimiento)=1975), 2368),
 (Row(year(fechanacimiento)=1961), 449),
 (Row(year(fechanacimiento)=1989), 9914),
 (Row(year(fechanacimiento)=1965), 669),
 (Row(year(fechanacimiento)=1957), 184),
 (Row(year(fechanacimiento)=1953), 37),
 (Row(year(fechanacimiento)=1955), 96),
 (Row(year(fechanacimiento)=1983), 5447),
 (Row(year(fechanacimiento)=1985), 6673),
 (Row(year(fechanacimiento)=1949), 12),
 (Row(year(fechanacimiento)=1995), 10902),
 (Row(year(fechanacimiento)=1951), 20),
 (Row(year(fechanacimiento)=1991), 11925),
 (Row(year(fechanacimiento)=1993), 11718),
 (Row(year(fechanacimiento)=1997), 8525),
 (Row(year(fechanacimiento)=1943), 2),
 (Row(year(fechanacimiento)=1999), 3654),
 (Row(year(fechanacimiento)=1947), 7),
 (Row(year(fechanacimiento)=31), 1),
 (Row(year(fechanacimiento)=29), 1),
 (Row(year(fechanacimiento)=1939), 1),
 (Row(year(fechanacimiento)=1941), 1),
 (Row(year(fechanacimiento)=33), 1),
 (Row(year(fechanacimiento)=11), 1),
 (Row(year(fechanacimiento)=1775), 1),
 (Row(year(fechanacimiento)=1921), 1),
 (Row(year(fechanacimiento)=1917), 1),
 (Row(year(fechanacimiento)=1970), 1288),
 (Row(year(fechanacimiento)=1962), 474),
 (Row(year(fechanacimiento)=1978), 3379),
 (Row(year(fechanacimiento)=1968), 945),
 (Row(year(fechanacimiento)=1966), 748),
 (Row(year(fechanacimiento)=1976), 2624),
 (Row(year(fechanacimiento)=1954), 72),
 (Row(year(fechanacimiento)=1964), 637),
 (Row(year(fechanacimiento)=1974), 1965),
 (Row(year(fechanacimiento)=1972), 1566),
 (Row(year(fechanacimiento)=1980), 4189),
 (Row(year(fechanacimiento)=1960), 373),
 (Row(year(fechanacimiento)=1982), 5018),
 (Row(year(fechanacimiento)=1958), 234),
 (Row(year(fechanacimiento)=1952), 30),
 (Row(year(fechanacimiento)=1956), 160),
 (Row(year(fechanacimiento)=1950), 29),
 (Row(year(fechanacimiento)=1984), 5871),
 (Row(year(fechanacimiento)=1946), 2),
 (Row(year(fechanacimiento)=None), 4750),
 (Row(year(fechanacimiento)=1948), 9),
 (Row(year(fechanacimiento)=1990), 11064),
 (Row(year(fechanacimiento)=1986), 7644),
 (Row(year(fechanacimiento)=1992), 11780),
 (Row(year(fechanacimiento)=1988), 9161),
 (Row(year(fechanacimiento)=2006), 1),
 (Row(year(fechanacimiento)=1998), 6466),
 (Row(year(fechanacimiento)=1994), 11570),
 (Row(year(fechanacimiento)=1944), 3),
 (Row(year(fechanacimiento)=1996), 9944),
 (Row(year(fechanacimiento)=1942), 3),
 (Row(year(fechanacimiento)=2000), 581),
 (Row(year(fechanacimiento)=24), 1),
 (Row(year(fechanacimiento)=12), 1),
 (Row(year(fechanacimiento)=4), 1)]

In [6]:
#dataframe = dataframe.toPandas()

In [9]:
'''today = datetime.date(year=2018,month=2,day=2)
dataframe["fechanacimiento"] = pd.to_datetime(dataframe["fechanacimiento"], errors="coerce")
def calc_edad(x):    
    if (pd.isnull(x)):
        return -1
    return math.floor((datetime.datetime.today()-x).days / 365)

# calculo edad para cada postulante
dataframe["edad"] = dataframe["fechanacimiento"].apply(calc_edad)



df = spark.createDataFrame(dataframe)'''

'today = datetime.date(year=2018,month=2,day=2)\ndataframe["fechanacimiento"] = pd.to_datetime(dataframe["fechanacimiento"], errors="coerce")\ndef calc_edad(x):    \n    if (pd.isnull(x)):\n        return -1\n    return math.floor((datetime.datetime.today()-x).days / 365)\n\n# calculo edad para cada postulante\ndataframe["edad"] = dataframe["fechanacimiento"].apply(calc_edad)\n\n\n\ndf = spark.createDataFrame(dataframe)'

In [10]:
'''hoy= datetime.datetime.today().year
fechaDF = dataframe.edad.map(lambda x: (x,1))

#fechaDF.reduceByKey(lambda x,y : x+y).collect()'''

'hoy= datetime.datetime.today().year\nfechaDF = dataframe.edad.map(lambda x: (x,1))\n\n#fechaDF.reduceByKey(lambda x,y : x+y).collect()'