In [1]:
import pyspark
import pandas as pd
import math
try: 
    type(sc)
except NameError:
    sc = pyspark.SparkContext('local[*]')    
    
type(sc)
import datetime
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.sql.functions import lit
from pyspark.sql.functions import unix_timestamp

In [2]:
 #sqlContext.read.csv('./datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv').option("header",True)
dataframe = sqlContext.read.format("csv")\
            .option("header", "true")\
            .option("inferSchema", "true")\
            .load('/home/kevin/Documents/orgadatos/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')

In [3]:
dataframe= dataframe.withColumn("edad", 2018 - year(dataframe.fechanacimiento))
dataframe.show()

+------------+-------------------+----+----+
|idpostulante|    fechanacimiento|sexo|edad|
+------------+-------------------+----+----+
|        NM5M|1970-12-03 00:00:00| FEM|  48|
|        5awk|1962-12-04 00:00:00| FEM|  56|
|        ZaO5|1978-08-10 00:00:00| FEM|  40|
|        NdJl|1969-05-09 00:00:00|MASC|  49|
|        eo2p|1981-02-16 00:00:00|MASC|  37|
|        Ez8J|1968-12-18 00:00:00|MASC|  50|
|        aOQq|1966-07-16 00:00:00|MASC|  52|
|        8BkL|1976-07-21 00:00:00| FEM|  42|
|        1d2B|1976-02-28 00:00:00|MASC|  42|
|        NPBx|1981-03-09 00:00:00|MASC|  37|
|        NRE5|1973-02-13 00:00:00|MASC|  45|
|        YGBY|1963-04-09 00:00:00| FEM|  55|
|        6aGl|1967-01-30 00:00:00| FEM|  51|
|        EbVz|1977-07-16 00:00:00|MASC|  41|
|        EBO0|1973-09-11 00:00:00| FEM|  45|
|        10bb|1954-08-30 00:00:00|MASC|  64|
|        eWO2|1959-01-05 00:00:00|MASC|  59|
|        6Kbl|1976-09-03 00:00:00|MASC|  42|
|        Ym2X|1964-01-19 00:00:00|MASC|  54|
|        ZqWb|1971-11-08 00:00:00|MASC|  47|
+------------+-------------------+----+----+
only showing top 20 rows

In [36]:
dataframe.select(dataframe.edad).rdd.map(lambda x: (x,1)).reduceByKey(lambda x,y : x + y).reduce(lambda x,y: x if x[1]> y[1]else y)

(Row(edad=27), 11925)